{% extends "base.html" %}
{% block content %}

<section id="what-we-do">
    <h1 class="text-center">What we Do</h1>
    <p class="text-center">This is a paragraph explaining what the NGO does.</p>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section id="the-team" >
    <h1 class="text-center">The Team</h1>
    <div>
        <div>
            <h3 class="text-center">Helen</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="https://tinyurl.com/3fybv9js" alt="Picture of Helen"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Patrick</h3>
            <h4 class="text-center">Head of Waste Management</h4>
            <div class="center-block"><img src="https://tinyurl.com/3fybv9js" alt="Picture of Patrick"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Dennis</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="https://tinyurl.com/3fybv9js" alt="Picture of Dennis"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Niclas</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="https://tinyurl.com/3fybv9js" alt="Picture of Niclas"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Tina</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="https://tinyurl.com/3fybv9js" alt="Picture of Tina"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Hakis</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="https://tinyurl.com/3fybv9js" alt="Picture of Tina"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <!--Pictures of the Team with our titles, Head of Waste Management etc...-->
    </div>
</section>
<section id="educational-links">
    <h1 class="text-center">Educational Links</h1>
    <p class="text-center">The following is a a comprehensive list of organisations we support and work with. Please also read about their work and learn more about preserving the planet.</p>
    <div>
        <div>
            <h4 class="text-center">Traffic</h4>
            <div><a href="https://www.traffic.org/" target="_blank"><img src="../static/images/traffic-screenshot.jpg" alt="Website screenshot of the organisation known as Traffic"></a></div>
            <p>Traffic is an organisation that work to ensure that the trade of wild plats and animals is not a threat to the conservation of nature.</p>
        </div>
        <div>
            <h4 class="text-center">Wildlife Conservation Trust</h4>
            <div><a href="https://www.wildlifeconservationtrust.org/" target="_blank"><img src="../static/images/wct-screenshot.jpg" alt="Website screenshot of the organisation known as Wildlife Conservation Trust"></a></div>
            <p>This organisation's focus is to safeguard life-giving ecosystems in a holistic, sustainable manner. They place equal emphasis on both forest and wildlife conservation.</p>
        </div>
        <div>
            <h4 class="text-center">Wildlife Heritage Areas</h4>
            <div><a href="https://www.wildlifeheritageareas.org/" target="_blank"><img src="../static/images/wha-screenshot.jpg" alt="Website screenshot of the organisation known as Wildlife Heritage Areas"></a></div>
            <p>This organisation allows local people to recognise their natural heritage at sites the meet the highest standards of sustainable tourism.</p>
        </div>
        <div>
            <h4 class="text-center">PAWS</h4>
            <div><a href="https://www.paws.org/" target="_blank"><img src="../static/images/paws-screenshot.jpg" alt="Website screenshot of the organisation known as PAWS"></a></div>
            <p>PAWS is an organisation dedicated to the preservation of wildlife. They operate their own animal hospital and provide a hotline to assist others in protecting wildlife.</p>
        </div>
        <div>
            <h4 class="text-center">Wildlife Alliance</h4>
            <div><a href="https://www.wildlifealliance.org/" target="_blank"><img src="../static/images/wildlife-alliance-screenshot.jpg" alt="Website screenshot of the organisation known as Wildlife Alliance"></a></div>
            <p>The Mission of Wildlife Alliance is to keep global temperature below 2°C by the year 2030. They have many approaches to achieving this, including protection of green areas and reforestation.</p>
        </div>
        <div>
            <h4 class="text-center">World Wide Fund for Nature</h4>
            <div><a href="https://www.wwf.org.uk/" target="_blank"><img src="../static/images/wwf-screenshot.jpg" alt="Website screenshot of the organisation known as World Wide Fund for Nature"></a></div>
            <p>WWF wroks to increase and stabalise the populations of the world's most endangered animal species.  They even allow you to adopt an animal!</p>
        </div>
        <!--Pictures of the Team with our titles, Head of Waste Management etc...-->
    </div>
</section>

{% endblock %}